<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeakPerfect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBCF277D2C0870E6002E07D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCF278D2C0870E8002E07D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCF27972C0870E8002E07D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
